
/*------------------RESET------------------------*/
a{
  text-decoration: none;
  color:white;
}

a:hover{
  color: #38AFE6;
}

a.no-hover:hover{
  color: white !important;
}
a.no-hover2:hover{
  color:black;
}


ul{
  list-style-type: none;
  margin: 0;
}
body{
  font-size: 20px;
}

h4{
  color: grey;
  font-weight:bold;
  margin:10px;
  margin-left: 30px;

}
 

/*display*/
.d-flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.align-baseline{
  align-items: baseline;
}

.text-align-center{
  text-align: center;
}
/*margin*/

.margin-10{
  margin: 10px;
}

.margin-15{
  margin: 15px;
}

.margin-20{
  margin:20px;
}

.margin-30{
  margin:30px;
}

.margin-50{
  margin: 50px;
}

.mr-30{
  margin-right: 30px;
}

.ml-30{
  margin-left: 30px;
}

.pt-0{
  padding-top: 0px;
}

.list-type{
  list-style-type: none;
}


/*color*/

.color-black{
  color:black;
}
.color-grey{
  color: grey;
}
.color-white{

  color: white;
}
/*font*/
.fw-bold{

  font-weight: bold;
}
.fs-30{

  font-size: 30px;
}
.fs-40{

  font-size:40px;
}
/*icones*/

.ico-header{
  font-size: 50px;
  
}

/*background*/
.bg-header {
  background-color: rgb(85, 81, 81);
  position: relative;
    overflow: hidden;
    
    height: 360px;
}

.bg{
  background-color: rgb(0, 0, 0);
}
/*image*/
.img-avatar{
  width: 155px;
  height: 155px;
  margin-top: 15px;
  border-radius: 50%;
  background-color:#126f9b;
  
}

/*buttons*/
.button-header{
 
  border:1px solid ;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold ;
}

.button-header1{

  border:1px solid ;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold ;
}

.button-header1:hover{

  border:1px solid white;
  padding: 10px;
  background-color: red;
  color: white !important;
  font-weight: bold ;

}

/*border*/

.border-block{
  border:  1px solid rgb(255, 255, 255);
  overflow: hidden;
  margin-top: 50px;
  background-color: grey;
  
}

.border-block:hover{

  box-shadow: 10px 5px 5px #38AFE6;
}

.br-40{
  border-radius: 40px;
}

.br-10{
  border-radius: 10px;
}

.l-block{
  float: left;
    width: 40%;
    text-align: justify;
}

.r-block{
  display:grid;
    width: 40%;
    text-align: justify;

}

.position-sticky{

  position: sticky;
 top:0;
z-index: 1;

}