
/*------------------RESET------------------------*/
a{
  text-decoration: none;
  color:black;
}

a:hover{
  color: #38AFE6;
}

a.no-hover:hover{
  color: white !important;
}
a.no-hover2:hover{
  color:black;
}


ul{
  list-style-type: none;
  margin: 0;
}
body{
  font-size: 20px;
}





/*display*/
.d-flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.align-baseline{
  align-items: baseline;
}

.text-align-center{
  text-align: center;
}
/*margin*/

.margin-10{
  margin: 10px;
}

.margin-20{
  margin:40px;
}


.pt-0{
  padding-top: 0px;
}

.list-type{
  list-style-type: none;
}


/*color*/

.color-black{
  color:black;
}
.color-grey{
  color: grey;
}
.color-white{

  color: white;
}
/*font*/
.fw-bold{

  font-weight: bold;
}
.fs-30{

  font-size: 30px;
}
/*icones*/

.ico-header{
  font-size: 50px;
  
}

/*background*/
.bg-header {
  background: url(../img/bg-bleu.jpg);
  position: relative;
    overflow: hidden;
    border-radius: 40px;
    height: 360px;
}

/*image*/
.img-avatar{
  width: 175px;
  height: 175px;
  margin-top: 15px;
  
}

/*buttons*/
.button-header{
 
  border:1px solid ;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold ;
}

.button-header1{

  border:1px solid ;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold ;
}

.button-header1:hover{

  border:1px solid ;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold ;
}

/*border*/

.border-block{

  border:  1px solid black;
  overflow: hidden;
  box-shadow: 10px 5px 5px, black;
  margin-top: 50px;
  border-radius: 40px;
}