
/*------------------RESET------------------------*/

a{
  text-decoration: none;
  color:black;
}



nav a:hover{
  color: #38AFE6;
}

nav a.no-hover:hover{
  color: white !important;
}
nav a.no-hover2:hover{
  color:black;
}


ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}
body{
  font-size: 20px;
}

h4{
  color: white;
  font-weight:bold;
  margin:10px;
  margin-left: 30px;
  font-size: 30px;

}



/*display*/
.d-flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.align-baseline{
  align-items: baseline;
}

.text-align-center{
  text-align: center;
}

.text-align-justify{
  text-align: justify;
}
/*margin*/

.margin-0{
  margin:0px
}

.margin-10{
  margin: 10px;
}

.margin-15{
  margin: 15px;
}

.margin-20{
  margin:20px;
}

.margin-30{
  margin:30px;
}

.margin-50{
  margin: 50px;
}

.mr-30{
  margin-right: 30px;
}

.ml-30{
  margin-left: 30px;
}

.ml-50{

  margin-left: 50px;
}

.mr-50{

  margin-right: 50px;
}

.pt-0{
  padding-top: 0px;
}


.list-type{
  list-style-type: none;
}


/*color*/

.color-black{
  color:black;
  
}
.color-grey{
  color: grey;
}
.color-white{

  color: white;
}
/*font*/
.fw-bold{

  font-weight: bold;
}
.fs-30{

  font-size: 30px;
}
.fs-40{

  font-size:40px;
}
/*icones*/

.ico-header{
  font-size: 50px;
  
}

/*background*/
.bg-header {
  background-color: rgb(85, 81, 81);
  position: relative;
    overflow: hidden;
    
    height: 360px;
}

.bg{
  background-color: rgb(0, 0, 0);
}


/*image*/
.img-avatar{
  width: 155px;
  height: 155px;
  margin-top: 15px;
  border-radius: 50%;
  background-color:rgb(252, 248, 6);
  
}

/*buttons*/
.button-header{
 
  border:1px solid ;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold ;
}

.button-header1{

  border:1px solid ;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold ;
}

.button-header1:hover{

  border:1px solid white;
  padding: 10px;
  background-color: red;
  color: white !important;
  font-weight: bold ;

}

/*border*/

.border-block{
  border:  1px solid rgb(255, 255, 255);
  overflow: hidden;
  margin-top: 50px;
  background-color: grey;
  
}

.border-block:hover{

  box-shadow: 10px 5px 5px #38AFE6;
}

.br-40{
  border-radius: 40px;
}

.br-10{
  border-radius: 10px;
}

.l-block{
  display: flex;
  
    width: 45%;
    text-align: justify;
}

.r-block{
  display:flex;
  width: 45%;
  text-align: justify;
  

}

.position-sticky{

  position: sticky;
 top:0;
z-index: 1;

}


@use postcss-preset-env {
  stage: 0;
}



/* ---------- Social Sidebar ---------- */

#social-sidebar {
	right: 0;
	margin-top: -75px; /* (li * a:width) / -2 */
	position: fixed;
	top: 50%;
}

#social-sidebar li:first-child a { border-radius: 0 5px 0 0; }
#social-sidebar li:last-child a { border-radius: 0 0 5px 0; }

#social-sidebar a {
	background: black;
	color: #fff;
	display: block;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	position: relative;
	text-align: center;
	width: 50px;
  
}

#social-sidebar a:hover span {
	left: 130%;
	opacity: 1;
}

#social-sidebar a span {
	border-radius: 3px;
	line-height: 24px;
	left: -100%;
	margin-top: -16px;
	opacity: 0;
	padding: 4px 8px;
	position: absolute;
	transition: opacity .3s, left .4s;
	top: 50%;
  white-space: nowrap;
	z-index: -1;
}

#social-sidebar a span:before {
	content: "";
	display: block;
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	transform: rotate(45deg);
	width: 8px;
	z-index: -2;
}

#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before { background: #171515; }

#social-sidebar a[class*="dribbble"]:hover,
#social-sidebar a[class*="dribbble"] span,
#social-sidebar a[class*="dribbble"] span:before { background: #0e76a8 ; }

#social-sidebar a[class*="behance"]:hover,
#social-sidebar a[class*="behance"] span,
#social-sidebar a[class*="behance"] span:before { background: #38AFE6; }