
body{
    background-color: #f5deb3;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Special Elite', cursive;
margin :0;
}

h2{
    color:#FECD45;
    
}
h3{
    color: #FECD45;
}

/*  HEADER */

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    position: sticky;
    top: 0;
    background-color:#400f03;
    padding: 0.5rem 1rem 2rem 1rem;
}

#header img{
    width: 100px;
    margin: 0rem 0rem 0rem 3rem;
}


#header nav{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    min-width: 60%;
    text-transform: uppercase;
}

#header nav a:link{
    text-decoration: none;
    color: white;

}
#header nav a:visited{
    color: white;
}
#header nav a:hover{
    text-decoration: underline;
    color:#fedc45;
}

#header nav a:active{
    text-decoration: underline;
    color:#fedc45;
}


#header nav ul{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;


}
#header nav li{
    padding: 5px;
    text-decoration: none;
    list-style: none;
    margin: 2rem;
}



/*RESERV*/



#reserv .img-carte{
    display: flex;
    width: 400px;
    height: 400px;
    padding: 10px;
    padding-top: 20px;
}

#reserv .flex{
    display: flex;
    }

#reserv .column{
    flex-direction: column;
}

#reserv .jc-sb{
    justify-content: space-around;
}

#reserv .m-50{
     margin: 50px;
 }

#reserv .bg-cadre{
    background-color: #400F03;
    width: 80%;
    box-shadow:  0.5rem 0.5rem 16px  #400f03a1;
}

  /*FORM*/

#form .flex{
    display: flex;
    }


/* #reserv .align-item{
    margin:100px,100px,0,0;
    
} */

#form div{
    padding: 20px;
}

#form .obligatoire{

    color:red;

}

#form fieldset{
    border-color: #FECD45;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    
}

#form .button{

    display: flex;
    width: 120px;
    height: 55px;
    border:  solid;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 320px;
    bottom: 10px;
    border-radius: 10px;
    background-color:#FECD45;
    color: #400F03;
    font-weight: bold;
    cursor: pointer;
    border: solid black;
    box-shadow: 5px 5px black;
}


    /*FOOTER*/

#footer i:hover{
color:#FECD45;
cursor: pointer;
}

#footer .flex{
display: flex;
}

#footer .column{
    flex-direction: column;
}
#footer .jc-c{

    justify-content: center;
}

#footer .jc-sb{
    justify-content: space-around;
}

#footer .m-10{
     margin: 10px;
 }

#footer .fs-30{
    font-size: 30px;
}

#footer .fw-bold{
    font-weight: bold;
}

#footer{
    background-color: #400F03;
    width: 100%;
    
}

#footer img{
    width: 200px;
    height: 200px;
     
}

