
::-webkit-scrollbar {
    background-color: #400f03;

}
::-webkit-scrollbar-thumb {
    background-color: #FECD45;
    border-radius: 20px;
}

h2{
    color:#fedc45
}
h3{
    color: #fedc45;
    
}
.portrait{
    height: 250px;
    width: auto;
}

.illustration{
    min-width: 100px;
    height: auto;
    max-width: 400px;
    border-style: ridge;
    border-color: #fedc45;
}

body{
    background-color: #f5deb3;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Special Elite', cursive;
}

/*  HEADER */

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    background-color:#400f03;
}

#header img{
    width: 100px;
    margin: 0rem 0rem 0rem 3rem;
}


#header nav{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    min-width:60%;
    text-transform: uppercase;
    
}

#header nav a:link{
    text-decoration: none;
    color: white;

}
#header nav a:visited{
    text-decoration: none;
    color: white;

}
#header nav a:hover{
    text-decoration: underline;
    color:#fedc45;
}

#header nav a:active{
    text-decoration: underline;
    color:#fedc45;
}


#header nav ul{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;


}
#header nav li{
    padding: 5px;
    text-decoration: none;
    list-style: none;
    margin: 2rem;
}



/* ACCUEIL == MAIN */

#accueil section{
    display:flex;
    flex-direction: column;
    box-shadow:  0.5rem 0.5rem 16px  #400f03a1;

}

#accueil div.main-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#accueil section{
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 60%;
    background-color: #400f03;
    
    margin: 3rem;

}

#accueil section.notre-équipe{
    flex-direction: column;

}

#accueil section.notre-équipe div{
    flex-direction: row;
    align-items: baseline;
}

#accueil section.notre-équipe div article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}


#accueil section.notre-équipe div article p{
    margin: 0;
}

#accueil section.notre-équipe div article img{
    border-radius: 50%;
    border-style: ridge;
    border-color: #fedc45;
    align-self: flex-start;
}
#accueil section div{
    display: flex;
}
#accueil section div p{
    display: inline;
    width: 80%;
    margin-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-align: justify;

}

#accueil section div img{
    margin-left: 1rem;
}
#accueil section h2{
    align-self: flex-start;
    margin-left: 1rem;
    text-decoration: underline;
}

#footer i:hover{
    color:#FECD45;
    cursor: pointer;
    }
    
    #footer .flex{
    display: flex;
    }
    
    #footer .column{
        flex-direction: column;
    }
    #footer .jc-c{
    
        justify-content: center;
    }
    
    #footer .jc-sb{
        justify-content: space-around;
    }
    
    #footer .m-10{
         margin: 10px;
     }
    
    #footer .fs-30{
        font-size: 30px;
    }
    
    #footer .fw-bold{
        font-weight: bold;
    }
    
    #footer{
        background-color: #400F03;
        width: 100%;
        
    }
    
    #footer img{
        width: 200px;
        height: 200px;            
    }
    
    #footer .white{
        text-decoration: none;
        color: white;
    }
    