body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: #f5deb3;


}


#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    position: sticky;
    top: 0;
    background-color:#400f03;
    padding: 0.5rem 1rem 2rem 1rem;
}

#header img{
    width: 100px;
    margin: 0rem 0rem 0rem 3rem;
}


#header nav{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    min-width: 60%;
    text-transform: uppercase;
}

#header nav a:link{
    text-decoration: none;
    color: white;

}
#header nav a:visited{
    text-decoration: none;
    color: white;

}
#header nav a:hover{
    text-decoration: underline;
    color:#fedc45;
}

#header nav a:active{
    text-decoration: underline;
    color:#fedc45;
}


#header nav ul{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;


}
#header nav li{
    padding: 5px;
    text-decoration: none;
    list-style: none;
    margin: 2rem;
}

#menu_principal h1{
    text-align: center;
    font-size:2rem;
    font-family: 'Abril Fatface', cursive;
    color:#AD4328;
}

#menu_principal h3{
    color:#AD4328;
    font-size: 1.5rem;
    margin:5px;

    
}
#menu_principal p{
    margin:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
#menu_principal .price{
    margin:10px;
    font-size: 1.5rem;
    color:#AD4328;
    
}

#menu_principal .menu{
    display: flex;
}


#menu_principal img{
    object-fit: cover;
    border:2px solid rgb(112, 112, 112);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    cursor: pointer;
  
}

#menu_principal .slide{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    margin:10px;
    background: whitesmoke; 
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    transition: 0.5s;
    cursor: pointer;
}
#menu_principal .slide:hover{
    background: #FECD45;
}
#menu_principal .slide img{
    margin:15px;
}

#footer i:hover{
    color:#FECD45;
    }
    
    #footer .flex{
    display: flex;
    }
    
    #footer .column{
        flex-direction: column;
    }
    #footer .jc-c{
    
        justify-content: center;
    }
    
    #footer .jc-sb{
        justify-content: space-around;
    }
    
    #footer .m-10{
         margin: 10px;
     }
    
    #footer .fs-30{
        font-size: 30px;
    }
    
    #footer .fw-bold{
        font-weight: bold;
    }
    
    #footer{
        background-color: #400F03;
        width: 100%;
        color: white;
        
    }
    
    #footer img{
        width: 200px;
        height: 200px;
         
    }
    








