
::-webkit-scrollbar {
    background-color: #400f03;

}
::-webkit-scrollbar-thumb {
    background-color: #FECD45;
    border-radius: 20px;
}
body{
    background-color: #f5deb3;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Special Elite', cursive; 
}
h2{
    color:#FECD45;
    
}
h3{
    color: #FECD45;
}

/*HEADER*/

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    position: sticky;
    top: 0;
    background-color:#400f03;
    
}

#header img{
    width: 100px;
    margin: 0rem 0rem 0rem 3rem;
}


#header nav{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    min-width: 60%;
    text-transform: uppercase;
}

#header nav a:link{
    text-decoration: none;
    color: white;

}
#header nav a:visited{
    text-decoration: none;
    color: white;

}
#header nav a:hover{
    text-decoration: underline;
    color:#fedc45;
}

#header nav a:active{
    text-decoration: underline;
    color:#fedc45;
}


#header nav ul{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;


}
#header nav li{
    padding: 5px;
    text-decoration: none;
    list-style: none;
    margin: 2rem;
}

/*MENU*/
#menu_principal .menu{
    display: flex;
}

#menu_principal h1{
    text-align: center;
    font-size:2rem;
    color: #400f03;
    font-weight: bolder;
    text-decoration: underline;
    
}

#menu_principal h3{
    
    font-size: 1.5rem;
    margin:5px;

    
}
#menu_principal p{
    margin:10px;

    font-size: 20px;
}
#menu_principal .price{
 
    display: flex;
    width: 120px;
    height: 55px;
    border:  solid;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    border-radius: 10px;
    background-color:#FECD45;
    color: #400F03;
    font-weight: bolder;
    
    border: solid black;
    
}




#menu_principal img{
    object-fit: cover;
    border:5px solid #FECD45;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    
  
}

#menu_principal .slide{
    display: flex;
    align-items: center;
    margin:50px;
    background: #400F03; 
    box-shadow:  0.5rem 0.5rem 16px  #400f03a1;
    
}

#menu_principal .slide img{
    margin: 15px;
}

    /*FOOTER*/


#footer i:hover{
    color:#FECD45;
    cursor: pointer;
    }
    
    #footer .flex{
    display: flex;
    }
    
    #footer .column{
        flex-direction: column;
    }
    #footer .jc-c{
    
        justify-content: center;
    }
    
    #footer .jc-sb{
        justify-content: space-around;
    }
    
    #footer .m-10{
         margin: 10px;
     }
    
    #footer .fs-30{
        font-size: 30px;
    }
    
    #footer .fw-bold{
        font-weight: bold;
    }
    
    #footer{
        background-color: #400F03;
        width: 100%;
        color: white;
        
    }
    
    #footer img{
        width: 200px;
        height: 200px;
         
    }
    
    #footer .white{
        text-decoration: none;
        color: white;
    }







